body{
    font-family: sans-serif;
    font-size: larger;
    background-color: #C9CEBD;
}
h1 {
   font-size: xx-large;   
}
h2{
    font-size: x-large;
}
h3{
    font-size: large;
    font-weight: bold;
}

/*Formatação da tabela de classificações*/
table,th,td{
    border: 1px;
    border-style: solid;
    background-color:#eeeeee;
    border-collapse: collapse;
    font-weight: bold;
}

fieldset{
    color: black;
    text-align: center;
}
#Logotipo {
    font-family: sans-serif;
    text-align: left;
    border: 2px;
    width: 300px;
    margin-bottom: 10px;
    border-style: solid;
    padding-left: 10px;
    background-color: #838E83;
    border-color: #3A403A;
}

/*Caixa de texto com as regras com scr*/
.caixa_texto {
    width: 500px;
    height: 150px;
    overflow: auto;
    margin: 0;
    background-color: #eeeeee;
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.container_v1 {
    display: inline-block;
    width: 250px;
    float: left;
    background-color: #838E83;
    padding: 5px;
}
.container_v2{
    float: left;
    background-color: #838E83;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.container_v3{
    float: left;
    background-color: #838E83;
    padding: 2.5px;
    border-bottom: 20px;
}

.container_v4{
    float: right;
    background-color: #838E83;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.container_login{
    padding: 5px;
    width: 250px;
    background-color: #838E83;

}

.tabuleiro_6_por_5,
.tabuleiro_6_por_6,
.tabuleiro_5_por_5,
.tabuleiro_5_por_6 {
    float: right;
    position: static;
    display: grid;
    border-style: solid;
    border-color: #3A403A;
    background-color: wheat;
    padding: 5px;
}

/*Espicificamos os tamanhos de cada grid e quantas queremos*/
.tabuleiro_6_por_5 {
    grid-template-columns:
        100px 100px 100px 100px 100px;
    grid-template-rows:
        100px 100px 100px 100px 100px 100px;
}

.tabuleiro_6_por_6 {
    grid-template-columns:
        100px 100px 100px 100px 100px 100px;
    grid-template-rows:
        100px 100px 100px 100px 100px 100px;
}

.tabuleiro_5_por_5 {
    grid-template-columns:
        100px 100px 100px 100px 100px;
    grid-template-rows:
        100px 100px 100px 100px 100px;
}

.tabuleiro_5_por_6 {
    grid-template-columns:
        100px 100px 100px 100px 100px 100px;
    grid-template-rows:
        100px 100px 100px 100px 100px;
}



.item {
    padding: 5px;
    margin: 5px;
    border-color: #3A403A;
    border-style: solid;
    text-align: center;
    flex-grow: 1;
}

.item_tabuleiro {
    margin: 5px;
    border-color: rgb(255, 38, 110);
    border-style: solid;
    text-align: center;
    /*para poder centrar peças */
    position: relative;
}

.peca_p{
    color: white;
    text-align: center;
    line-height: 45px;
    font-weight: bold;

    border-style: solid;
    border-color: grey;
    background-color: black;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    float: left;
}
.peca_b{
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;


    border-style: solid;
    border-color: grey;
    background-color: white;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 100px;
}


.peca_tabuleiro_preta {
    border-style: solid;
    border-color: grey;
    background-color: black;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    /*css para posição da peça no proprio tabuleiro (para centra-las)*/
    position: absolute;
    top: 18%;
    left: 18%;
}

.peca_tabuleiro_branca {
    border-style: solid;
    border-color: grey;
    background-color: white;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    /*css para posição da peça no proprio tabuleiro (para centra-las)*/
    position: absolute;
    top: 18%;
    left: 18%;
}

/*Css para as mensagens UI*/
.mensagens_ui {
    background-color: #838E83;
    float: right;
    text-align: center;
    font-size: larger;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    visibility: hidden;
    max-width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* CSS */
.standard_button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: sans-serif;
    font-size: larger;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}

.standard_button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.standard_button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.standard_button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/*css das Regras (inclui alguns elementos extras de formatação)*/
details>summary {
    padding: 10px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
    text-align: left;
}

details>p {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
}

/*Formatação das regras*/
p.regras {
    line-height: 30px;
    padding-left: 10px;
    font-size: large;
}

p.destacar {
    font-weight: bold;
    font-size: x-large;
    padding-top: 10px;
    margin: 0;
}

.form_l {
    padding: 20px;
    color: black;
    border-color: #3A403A;
    border-style: solid;
}

/*Animações de butões*/
.standard_button:hover {
    background-color: wheat;
}

.standard_button:active {
    opacity: 0.5;
}

.regras {
    border-color: #3A403A;
}


.myCanvas {
    display: block;
    margin:auto;
}